<!DOCTYPE html>
<html lang="en">
<head>  
    <style>
        body{background: Skyblue; font-family: verdana; color: #fff; padding: 30px}
        h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
        p{font-size: 16px; text-align: center;}
        form{width: 400px; max-width: 100%; padding: 20px; margin: 20px auto;}
        input{display: block; margin: 10px 0; padding: 10px; width: 100%;}
        input[type='submit']{width: auto};
    </style>
</head>
<body> 
    <% include partials/nav.ejs %> <!-- must include the location of the partial template which is the nav. ejs file ------>
    <h1>Contact US!</h1>
    <p>Thanks for contacting us!</p>
    <p> You contacted <%= data.who %> in the <%= data.department %> department.</p>
    <p>We will reply to you at <%= data.email %></p>
    
   
</body>

</html>