<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

             <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Document</title>
    <style>
        body{background: Skyblue; font-family: verdana; color: #fff; padding: 30px}
        h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
        h2{font-size: 30px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
        p, li{font-size: 16px; text-align: center;}
    </style>
</head>
<body>
    <% include partials/nav2 %> 
    <!--must include the location of the partial template which is the nav.ejs file-->
    <h1>Welcome</h1> <!--- when you want to output data from an object property-->
 
</body>
</html>