

      .btn-floating.btn-large {
    width: 56px;
    height: 56px;
    padding: 0;
    display: block;
     margin: auto;
}
body {
    font-family: verdana;
    color: #fff;
    /* padding: 30px; */
     background-image: url("https://i.ytimg.com/vi/iL1YDvP2ReQ/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: 1900px 800px;
}
a.btn {
    margin-top: 30%;
}
input[type="submit"] {
    width: 100%;
    margin-top: 50px;
}
.modal {
     background-image: url(""); 
    background-size: 500px 400px;
}
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    padding: 0;
}
h2 {
    color: blue;
    font-family: 'Tangerine', cursive;
}

.btn, .btn-large, .btn-small {
background-color: #d90505;

display: flex;
    
justify-content: space-evenly;
}

#blog-area{
    background-color:black;
    max-width:75%;
    margin:0, auto;

}

.blog{
    color:rgb(151, 241, 7);
    border-style:dashed;
    border-color:white;
}

